p span {
  padding: 0px 2px;
  background-color: lightgray;
  text-transform: uppercase;
  margin-right: 5px;
  color: black;
}

p {
  margin: 10px 0; padding: 0;
}

h1 {
  margin:0; padding: 0;
}

.item-wrapper {
  padding: 20px;
}