p span {
  padding: 0px 2px;
  background-color: lightgray;
  text-transform: uppercase;
  margin-right: 5px;
  color: black;
}

p {
  margin: 10px 0; padding: 0;
}

h1 {
  margin:0; padding: 0;
}

.item-wrapper{
}

.headline {
  padding: 20px;
}

.img-container {
  // border: 1px solid red;
  height: 300px;
  img {
    filter:  saturate(2);
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    // transition: .2s ease-in filter;

    &:hover {

      filter:  saturate(0);
      // filter: hue-rotate(90deg);
    }
  }
}