/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap');

body, html {
  font-family: 'Rubik', sans-serif;
  padding: 0; margin: 0;
  // background-color: #9ab9e2;
  // background-color: rgb(180, 225, 243);
  // #647f87;
}

h1, h2 {
  font-family: 'Work Sans', sans-serif;

}