<div class="wrapper">
  <header>
    <!-- <div>
      <ul>
        <li><img src="../../assets/social-email.svg"/></li>
        <li><img src="../../assets/social-linkedin.svg"/></li>
      </ul>
    </div> -->
    <!-- <div></div> -->
    <div class="name">
      <h1><span>Jake Reiff</span></h1>
      <p><span>University of Texas at Dallas</span></p>
      <p><span>B.S. Mechanical Engineering</span></p>
      <p><span>Class of 2021</span></p>
      <div class="contact">
        <span>Resume</span>
        <span>E-mail</span>
        <span>LinkedIn</span>
      </div>
    </div>

    <div class="intro">
      <p>Interested in working with...</p>
      <ul>
        <li>- Nanotechnology</li>
        <li>- Self-driving cars</li>
        <li>- Weeb life</li>
      </ul>
    </div>
    <!-- <div class="resume">
      <p><span>Resume</span></p>
      <p><span>E-mail</span></p>
      <p><span>LinkedIn</span></p>
    </div> -->
    <!-- <span>
      <p>Resume</p>
    </span> -->
  </header>
  
  <!-- <div class="main-container"> -->
    <div class="router-container">
      <div class="items">
        <div class="project-item" *ngFor="let p of projects$ | async">
          <app-project-item [project]="p"></app-project-item>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  <!-- </div> -->

  <footer>
    This website is designed and implemented by my friend @uyen-vo.
    <!-- <ul>
      <li><img src="../../assets/social-email.svg"/></li>
      <li><img src="../../assets/social-linkedin.svg"/></li>
    </ul> -->
  </footer>
</div>


