// $lightblue: #9ab9e2;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // padding: 20px;
}

header {
  // width: 250px;
  background-color: white;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // height: 100vh;
  // padding-left: 20px;
  // padding: 25px 10% 40px 10%;
  // height: 100%;
  // border-bottom: 1px solid black; 

  // flex: 1;
  //  div {
  //    flex: 1;
  //  }
  // color: white;
}

// .resume {
//   // border: 1px solid red;
//   p {
//     text-align: right;
//     padding: 0; margin: 0;
//     padding-right: 20px;
//     margin-bottom: 5px;

//     span {
//       text-transform: uppercase;
//       letter-spacing: .2px;
//       background-color: yellow;
//       padding: 0 2px;
//     }
//   }
// }

.intro {
  
  flex: 3;
  p{
    margin: 0; padding: 0;
    margin-top: 52px;
    text-transform: uppercase;
  }

  ul li {
    margin-top: 5px;
  }
}
.name {
  // border: 1px solid red;
  text-align: center;
  min-width: 280px;
  padding: 50px 0px;
  padding-top: 45px;
  // margin-right: 30px;
  // flex: 1;
  
  p {
    padding: 0; margin: 0;
    margin-top: 5px;

    span {
      text-transform: uppercase;
      letter-spacing: .2px;
      background-color: white;
      padding: 0 2px;
    }
  }

  .opp {
    // background-color:rgb(235, 233, 233);
    display:inline-block;
    padding: 0 5px;
    padding-bottom: 2px;
    // border-radius: 10px;
    border: 2px dashed black;

    p span{
      background-color: transparent;
    }
    p:first-child {
      font-weight: 500;
    }
  }

  h1 {
    padding: 0; margin: 0;
    font-weight: 700;
    // letter-spacing: .3px;
    font-size: 40px;
    // line-height: 20px;
    span {
      // padding-bottom: 5px;
      // // border-bottom: 1px dashed black;
    }
    
    span:hover{
      color: white;
      cursor: pointer;
    }
  }

  h1 a {
    text-decoration: none;

    &:visited {
      color: inherit;
    }

    &:hover {
      color: #647f87;
    }
  }
}

.router-container {
  flex: 1;
  // width: 80%;
  margin: 0 auto;
  padding: 20px 10%;
}

.contact {
  margin: 20px 0;
  
  span {
    text-transform: uppercase;
    letter-spacing: .2px;
    background-color: yellow;
    padding: 0 2px;
    margin-right: 5px;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: #647f87;
      
    }

    a {
      text-decoration: none;

      &:visited {
        color:inherit;
      }
    }
  }
}

footer {
  padding: 20px 0px;
  text-align: center;
  background-color: white;
}

ul {
  list-style-type: none;
  margin:0; padding: 0;

  li {
    margin:0; padding: 0;
  }
}